*.pyc
*.egg-info
*.pt
*.pth
*.zip
*.tar.gz
*.render*
*.ply
**/__pycache__/
*.mp4



.vscode
ckpts

/checkpoints
/data
/logs
/outputs
output/
output1/
output2/
diff/
resize_demo_imgs.py
img_dir_to_video.py